@media screen and (min-width: 768px) {
  .wrapper-slider_slide_action-block {
    display: none;
    width: 27%;
  }
  .wrapper-slider_slide_action-block .firm {
    font-size: 22px;
  }
  .wrapper-slider_slide_action-block .what_for {
    font-size: 15px;
  }
  .wrapper-slider_slide_action-block .button {
    font-size: 15px;
  }
}